body {
    background-color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    color: rgb(0, 255, 21);
    
}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    color: rgb(0, 255, 21);
  }

.img-w150 {
    width: 150px;
    border-radius: 50%;
}

.menu {
    margin-top: 15px;
   
}
.nodejsimagem{
    width: 150px;
}
